@charset "UTF-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    background-color: rgb(194, 255, 183);
}
h1 {
    color: rgb(16, 108, 0);
}
h2 {
    color: rgb(35, 87, 26)
}
#h1-principal {
    background-color: #106c00;
    color: #FFFFFF;
    text-align: center;
}